<nav class="navbar navbar-expand-lg bg-primary text-white">
    <div class="container-fluid">
        <!-- Nome da marca à esquerda -->
        <a class="navbar-brand text-white fw-bold" href="#"> GPB: VIATURAS </a>

        <!-- Botão para telas menores -->
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <!-- Logo da marca (só aparece em telas ≥992px) -->
            <div class="mx-auto d-none d-lg-block" style="position: absolute; left: 50%;">
                <img src="/content/gpb.png" class="navbar-brand" style="height: 80px;">
            </div>

            <!-- Dropdown à direita -->
            <!-- <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"> Estados </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="#">Configurações</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sair</a></li>
                    </ul>
                </li>
            </ul> -->

            <i class="pi pi-discord" style="font-size: 2rem; position: absolute; right: 1.5%;"> <a href="https://discord.gg/8QrMZTRRX3" target="_blank" style="position: absolute; right: 1.5%;"> </a></i>

            
        </div>
    </div>
</nav>
